# Copy this file to settings.env and change each of the fields.

# The domain name the NCL CourseBuilder LTI tool will be hosted at
SERVERNAME=coursebuilder-lti.institution.tld

# Pick a password for the database. 
MYSQL_ROOT_PASSWORD=mysql
