# Copy this file to settings.env and change each of the fields.

# The domain name the Chirun LTI tool will be hosted at
SERVERNAME=chirun-lti.institution.tld

# Pick a password for the mysql user
MYSQL_PASSWORD=cblti

# Set a username, email address and password for the administrator account
CBLTI_ADMIN_USER=admin
CBLTI_ADMIN_EMAIL=admin@institution.tld
CBLTI_ADMIN_PASSWORD=cblti
